# Ignore node_modules directory
node_modules/

# Ignore build directory
build/

# Ignore all JavaScript files in the dist directory
dist/**/*.js

# Ignore specific file
src/someFileToIgnore.js

# Ignore all files with .min.js extension
**/*.min.js