body {
  font-family: 'Open Sans';
  font-size: 12px;
  position: relative;
   }

.box {
      display: none;
      width: 100%;
   }

a:hover + .box,.box:hover {
  display: block;
  position: relative;
  z-index: 100;
}

#mainDiv {
  display: flex;
  padding: 1px;
  margin: 1px;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-content: start;
  align-items: start;
    }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }
  
  .flex-item:nth-child(2) {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
    }
  
  .flex-item:nth-child(3) {
    order: 2;
    flex: 0 1 auto;
    align-self: auto;
    }

  .flex-item:nth-child(4) {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
    }

  .flex-item:nth-child(5) {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
    }

  .flex-item:nth-child(6) {
    order: 5;
    flex: 0 1 auto;
    align-self: auto;
    }

  .flex-item:nth-child(7) {
    order: 6;
    flex: 0 1 auto;
    align-self: auto;
    }

  .flex-item:nth-child(8) {
    order: 7;
    flex: 0 1 auto;
    align-self: auto;;
    }