body {
  font-family: 'Open Sans';
  font-size: 12px;
  position: relative;
   }

.box {
      display: none;
      width: 100%;
   }

a:hover + .box,.box:hover {
  display: block;
  position: relative;
  z-index: 100;
}

#mainDiv {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 1px;
  margin: 1px;
  background-color: azure;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
    }

  .flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
    }
  
  .flex-item:nth-child(2) {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
    }
  
  .flex-item:nth-child(3) {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
    }

  .flex-item:nth-child(4) {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
    }

  .flex-item:nth-child(5) {
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: stretch;
    }

  .flex-item:nth-child(6) {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;;
    }



  .flex-item:nth-child(7) {
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
    }
  .flex-item:nth-child(8) {
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: stretch;;
    }